<div #warn class="warning">
    <div class="container-fluid wrapper">
        <div class="warning__block">
            <span class="warning__message">
                <svg class='svg-warn' version="1.1" id="svg2" xmlns:dc="http://purl.org/dc/elements/1.1/"
                    xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                    xmlns:svg="http://www.w3.org/2000/svg"
                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" sodipodi:docname="warning-sign.svg"
                    inkscape:version="0.48.4 r9939" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1200px" height="1200px"
                    viewBox="0 0 1200 1200" enable-background="new 0 0 1200 1200" xml:space="preserve">
                    <path id="path25953" inkscape:connector-curvature="0"
                        d="M600,0L0,1200h1200L600,0z M553.857,416.089h92.284v158.644l-22.559,223.096h-47.168l-22.56-223.096V416.089H553.857z M553.857,885.425h92.284v99.391h-92.284V885.425L553.857,885.425z" />
                </svg>
                You are not protected
            </span>
            <span class="warning__user-info">Your IP Address: 107.3.176.194</span>
            <span class="warning__user-info">Your ISP: Comcast Cable</span>
            <a class="warning__more" href="#">Learn More ›</a>
        </div>
    </div>
    <button class="warning__close" (click)="removeWarn()">
        <svg class='svg-close' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
                d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z">
            </path>
        </svg>
    </button>
</div>